body {
    background-color: rgb(32, 32, 32);
}

article {
    border: 1px solid #C1272D;
    padding: 20px;
    background-color: rgb(232, 216, 124);
}

article img {
    width: 100%;
}

section {
    width: 80vw;
    margin: 1vw auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 1rem;

}

nav {
    text-align: center;
}


#detalje {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

#detalje .luk {
    position: fixed;
    top: 0;
    right 0;
    font: 4rem;
}

#detalje .stor {
    width: 60vw;
    min-height: 50vh;
    margin: 4rem auto;
    padding: 4rem;
    background-color: rgb(232, 216, 124);
}

#toppic {
    width: 77vw;
    height: 17vw;
    background-size: cover;
    background-image: url(imgs/medium/bash_logo.png);
    background-repeat: no-repeat;
}


button {
    color: #C1272D;
    background-color: rgb(32, 32, 32);
    padding: 5px;
    border: 2px solid #C1272D;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    width: 95px;
    height: 40px;
}

button:hover {
    color: #494949;
    border-radius: 50px;
    border-color: black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
